.todo-form {
    margin-bottom: 32px;
  }

  .todo-input {
    font-size: 20px;
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #1d2671;
    outline: none;
    width: 320px;
    background: transparent;
    color: #fff;
  }

  .todo-input::placeholder {
    color: #fff;
    opacity: 0.2;
  }

  .todo-button {
    font-size: 20px;
    padding: 16px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background-color: #1d2671;
    color: #fff;
    text-transform: capitalize;
  }

  /* .todo-input.edit {
    border: 2px solid #149fff;
  }
  
  .todo-button.edit {
    background: linear-gradient(
      90deg,
      rgba(20, 159, 255, 1) 0%,
      rgba(17, 122, 255, 1) 100%
    );
    padding: 16px 22px;
  } */

  /* .todo-container {
    display: flex;
    flex-direction: row;
    position: relative;
  } */